/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


body {
  margin: 0;
  padding: 0;
}
.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 192vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  background-color: black;
}

.zero{
  background-image: url(../img/hockey.jpg);
  background-size: cover;
  background-position: center;
  width: 45%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  
}

.dark{
  background-image: url(../img/hockey.svg);
  -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
   color: white;
   display: all;

}


.zero h1{
  padding-left: 8%;
  color: white;
  font-family: schnebel-sans-pro-expanded, sans-serif;
  font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-shadow: -6px 3px black;
    letter-spacing: 4px;
    
}

.zero h3{
  padding-left: 8%;
  padding-top: 20px;
  color: white;
  font-family: paralucent, sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 25px;
  margin-bottom: 80px;
  text-shadow: -3px 2px black;
}

.one {
  background-color: #080808;
  background-size: auto 100vh;
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#second-pic{
  width: 70%;
  height: 65%;
  background-image: url(../img/flag.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
}

#second-pic:hover{
  background-image: url(../img/me.jpg);
  background-size: cover;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#second-pic:hover ~ .zero{
  background-image: url(../img/me.jpg);
}



#second-pic h2{
  color: white;
  padding: 20px;
  padding-left: 35px;
  font-family: schnebel-sans-pro-expanded, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  text-shadow: 1px 1px black;
}

.two {
  background-image: url(../img/storm.jpg);
  background-position: center;
  background-size: 100vw auto;
  background-repeat: no-repeat;
  width: 100%;
  
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
}

#icons{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;

}

#end{
  display: inline-flex;
  justify-content: flex-end;
}

#contact{
  display: flex;
  justify-content: flex-start;
  color: white;
  font-family: schnebel-sans-pro-expanded, sans-serif;
  font-weight: 700;
  font-style: normal;
    font-size: 25px;
  border: 1px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

}

#contact:hover{
  text-decoration: none;
  background-color: #080808;
}

#icons img{
  height: 45px;
  width: 45px;
  margin-left: 15px;


}

#icons img:hover{
  border: 3px solid black;
  border-radius: 90px;

}


#right{
  width: 80px;
  height: 100%;
  margin:0;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12%;
  padding-left: 15px;

}

#nav-parent{
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12%;
  
}

nav ul{
  list-style-type: none;
  text-align: center;
  
}

nav ul li a{
  color: white;
  font-family: schnebel-sans-pro-expanded, sans-serif;
  font-weight: 700;
  font-style: normal;
    font-size: 25px;
    line-height: 60px;
}

nav ul li a:hover{
  color: white;
}

.navbar-brand{
  font-family: schnebel-sans-pro-expanded, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  color: white;
  padding-left: 40px;
  padding-top: 10px;


}

.navbar-brand:hover{
  color: white;
  text-decoration: underline;
}

#same-nav{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 20px;
}

.navbar-nav1{
  display: flex;
  flex-direction: row;
}

.nav-link1{
  padding-right: 40px;
  font-family: paralucent, sans-serif;
  font-weight: 200;
  font-style: normal;
}

@media (max-width: 620px){
  .navbar-brand{
    font-size: 20px;
    padding-top: 15px;
  }
  
  .nav-link1{
    font-size: 20px;
    font-family: paralucent, sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2px;
  padding-right: 30px;
  }



}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

@media (min-width: 1030px) and (max-width: 1060px){

.two{
  background-size: auto;
}

}

@media (min-width: 710px) and (max-width: 1030px){

.wrapper{
  width: 240vw;
}

.zero{
  width: 90%;
}

.one{
  width: 80%;
}

.two{
  background-size: auto;
  width: 125%;
}

}


@media (max-width: 709px){

.zero{

  width: 125%;

}

.two{
  background-size: auto;
  width: 150%;
}

.one{
  width: 130%;
}

.wrapper{
  width: 270vw;
}

#nav-parent{
  width: 70%;
}

}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

