html{
	scroll-behavior: smooth;
}

.menu1{
  background-color: black;
}

/* Split the screen in half */
.split {
 
  display: flex;
  flex-direction: row;
}

/* Control the left side */
.left {
  background-color: white;
  width: 50%;

}

.left h1{
	font-family: schnebel-sans-pro-expanded, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  color: black;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 5%;
}

.left p{
font-family: paralucent, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 1em;
  padding-left: 5%;
  padding-right: 5%;
  
}

#right{

  width: 50%;
  background-image: url(../img/LinkedIn-Blue-Circle.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  
}



/* If you want the content centered horizontally and vertically */
.centered {

  t
  text-align: left;
}

@media (min-width: 1030px) and (max-width: 1060px){



}

@media (min-width: 710px) and (max-width: 1030px){

.split{
  flex-direction: column;
}

.left{
  width: 100%;
}

#right{
  width: 100%;
  background-size: contain;
  
}

}


@media (max-width: 709px){

.split{
  flex-direction: column;
}

.left{
  width: 100%;
}

#right{
  width: 100%;
}

}
